* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  width: 150px;
  margin: 0;
  padding: 0;
}

.form, h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  padding: 0.5rem;
  margin: 0.5rem;
}

.form > label {
  padding: 0.5rem;
}

button {
  font-size: 1.05rem;
  margin: 0.15rem;
  padding: 0.15rem;
}
